<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col">
            <form class="form" #myForm="ngForm" (ngSubmit)="Register(myForm.value)">
                <div class="form-control mt-4 mb-4">
                    <label for="name"></label>
                    <input type="text" class="form-control"  name="name" [(ngModel)]="data.name" placeholder="Enter your name">
                </div>
                <div class="form-control mt-4 mb-4">
                    <label for="email"></label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="data.email" placeholder="Enter your email">
                </div>
                <div class="form-control mt-4 mb-4">
                    <label for="password"></label>
                    <input type="text" class="form-control" name="password" [(ngModel)]="data.password" placeholder="Enter your password">
                </div>
                <div class="form-control mt-4 mb-4">
                    <label for="Course"></label>
                    <input type="text" class="form-control " name="Course" [(ngModel)]="data.Course" placeholder="Enter your selected course">
                </div>
                <div class="send">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </form>
        </div>
    </div>
    
</div>